{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<body> 
  <!--Login -->
  <div id="clouds">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <img src="{% static '/img/user.png' %}" alt="user" width="100">
            <h2 class="fw-bold mb-0">Inicio de sesión</h2>
            <a href="/">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </a>
          </div>

          <div class="modal-body p-5 pt-0">
            <form method="POST" id="login">
              {% csrf_token %}
              <label for="username">Usuario:</label>
              <div class="form-group">
                  <input type="text" height="50" class="form-control" name="username" placeholder="Ingrese su nombre de usuario" required>  
              </div>
              <label for="password">Contraseña:</label>
              <div class="row">
                <div class="form-group col-lg-10">
                  <input id="password" type="password" class="input_clave form-control"  name="password" minlength="8" maxlength="20" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="col-lg-1">
                  <i class="icono fas fa-eye-slash" style="padding-top: 13px; padding-left: 10px;" onclick="toggle()"></i>
                </div>
              </div>  
              <br>
              <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
              <hr>
              <button type="reset" class="btn btn-primary button col-lg-5">Limpiar</button>
              <button type="submit" class="btn btn-primary button col-lg-5">Ingresar</button>
              <br>
              <br>
              <p>¿No tienes una cuenta? <a href="/register">Registrate aquí</a></p>
              </form>
              <hr class="my-4">
              <h2 class="fs-5 fw-bold mb-3">Tambien puedes: </h2>
              <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                <i class="fab fa-google-plus-g"></i>
                Iniciar sesión con Gmail
              </button>
              <a href="{% url 'social:begin' 'facebook' %}">
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4">
                  <i class="fab fa-facebook"></i>
                  Iniciar sesión con Facebook
                </button>
              </a>
              <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
                <i class="fab fa-twitter"></i>
                Iniciar sesión con Twitter
              </button>
          </div>
        </div>
      </div>
  </div>

<script>
  gsap.to("#clouds", {
  ease: Linear.easeNone,
  backgroundPosition: "-2247px 0px",
  repeat: -1,
  duration: 20
   });
</script>

{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
      title: '{{m}}',
      width: 600,
      padding: '1em',
      background: '#fff url(/images/trees.png)',
      footer: '<a href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a>',
      backdrop: `
        rgba(0,0,123,0.4)
        url("https://c.tenor.com/KOTVUma-gOcAAAAi/confused-cat.gif")
        center top
        no-repeat
      `,
      
    })
    </script>
  {% endfor %}
{% endif %}

{% endblock %}

{% block footer %}
<footer class="text-center text-white" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/termasgeo.jpg' %}"
              class="w-100 zoom"
              title="termas"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/observatorio.jpg' %}"
              class="w-100 zoom"
              title="Observatorio La Serena"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/canopy.jpg' %}"
              class="w-100 zoom"
              title="Canopy"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/termas.jpg' %}"
              class="w-100 zoom"
              title="termas"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/Banquete.jpg' %}"
              class="w-100 zoom"
              title="banquete"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="{% static '/img/playachiloe.jpg' %}"
              class="w-100 zoom"
              title="Chiloé"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: black;">
    © 2021 Copyright:
    <a class="text-white" href="/">Easyrenting.cl</a>
  </div>
  <!-- Copyright -->
</footer> 
<script>

  var ojoState = false;
    function toggle() {
      var ojo = document.querySelectorAll('.icono');
      var input = document.querySelectorAll('.input_clave');

      if (ojoState) {
        input.forEach(i => {
          i.setAttribute('type', 'password');
        })
        ojo.forEach(o => {
          o.classList.remove('fa-eye');
          o.classList.add('fa-eye-slash');
        })
        ojoState = false;
      }
      else {
        input.forEach(i => {
          i.setAttribute('type', 'text');
        })
        ojo.forEach(o => {
          o.classList.add('fa-eye');
          o.classList.remove('fa-eye-slash');
        })
        ojoState = true;
      }
    }
</script>
</body>
{% endblock %}

