{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<body class="text-center">
        <br><br><br><br>
    <div class="containerInicio texto-blanco centrado">
{% if validlink %}

<h3>Nueva contraseña</h3>

<form method="POST">
    {% csrf_token %}
    <div style="padding: 20px;"> 
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nueva contraseña: </label>
        {{ form.new_password1 }}
        <br>
    </div>
    <div>
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirma contraseña: </label>
        {{ form.new_password2 }}
        <br><br>
    </div>
    <input class="btn btn-primary button" type="submit" value="cambiar mi contraseña" />
</form>

{% else %}

<h1>ENLACE INVALIDO ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

</div>
</body>
{% endblock %}