{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<body>
    <div class="modal-dialog" role="document">
        <div class="row text-center modal-content rounded-5 shadow justify-content-center pb-4 ml-10">
            <div class="col">
                <img src="{% static '/img/email.png' %}"  width="200" alt="imagenContraseña">
            </div>
            <h5>Hemos enviado un enlace a tu correo</h5>
        </div>
    </div>
</body>
{% endblock %}