{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<body>
    <br>
    <div class="modal-dialog" role="document">
        <div class="row text-center modal-content rounded-5 shadow justify-content-center pb-4 ml-10">
            <div class="col">
                <img src="https://static.vecteezy.com/system/resources/previews/002/297/472/original/password-reset-icon-on-white-vector.jpg"  width="200" alt="imagenContraseña">
            </div>
            <h5>Recuperar contraseña</h5>
            <form method="POST">        
                {% csrf_token %}       
                <label for="id_email">Correo:</label> 
                <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email"><br>
                <input class="btn btn-primary button" type="submit" value="Enviar"/>
            </form>
        </div>
    </div>
</body>
{% endblock %}