{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<body class="text-center">

{% if validlink %}
<div class="modal-dialog p-2" role="document">
    <div class="row text-center modal-content rounded-5 shadow justify-content-center pb-4 ml-10">
        <div class="col">
            <img src="https://static.vecteezy.com/system/resources/previews/002/297/472/original/password-reset-icon-on-white-vector.jpg"  width="200" alt="imagenContraseña">
        </div>
        <h5>Ingrese su nueva contraseña</h5>
        <br>    
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-lg-10">
                    <label for="id_new_password1">Nueva contraseña: </label>
                    <input class="form-control input_clave" type="password" name="new_password1" required="" id="id_new_password1">
                </div>
                <div class="col-lg-1">
                  <i class="icono fas fa-eye-slash" style="padding-top: 30px; padding-left: 10px;" onclick="toggle()"></i>
                </div>
            </div>  

            <div class="row">
                <div class="form-group col-lg-10">
                    <label for="id_new_password2">Confirma contraseña: </label>
                    <input class="form-control input_clave" type="password" name="new_password2" required="" id="id_new_password2">
                </div>
                <div class="col-lg-1">
                  <i class="icono fas fa-eye-slash" style="padding-top: 30px; padding-left: 10px;" onclick="toggle()"></i>
                </div>
            </div>  
            <br>
            <input class="btn btn-primary button" type="submit" value="Cambiar contraseña" />
        </form>
        
        {% else %}
        <div class="modal-dialog p-2" role="document">
            <div class="row text-center modal-content rounded-5 shadow justify-content-center pb-4 ml-10">
                <div class="col">
                    <img src="{% static '/img/error.png' %}" alt="" width="60">
                </div>
                <h5>Enlace invalido este enlace ya ha sido utilizado</h5>
            </div>
        </div>
        {% endif %}        
    </div>
</div>

<script>

    var ojoState = false;
      function toggle() {
        var ojo = document.querySelectorAll('.icono');
        var input = document.querySelectorAll('.input_clave');
  
        if (ojoState) {
          input.forEach(i => {
            i.setAttribute('type', 'password');
          })
          ojo.forEach(o => {
            o.classList.remove('fa-eye');
            o.classList.add('fa-eye-slash');
          })
          ojoState = false;
        }
        else {
          input.forEach(i => {
            i.setAttribute('type', 'text');
          })
          ojo.forEach(o => {
            o.classList.add('fa-eye');
            o.classList.remove('fa-eye-slash');
          })
          ojoState = true;
        }
      }
  </script>
</body>
{% endblock %}