{% extends 'base/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<body>
    <br><br><br>
    <div class="containerInicio text-center">
        <h3>Recuperar contraseña</h3>
        <form method="POST">        
            {% csrf_token %}       
            <label for="id_email">Correo:</label> {{ form.email }}
            <input class="btn btn-primary button" type="submit" value="Enviar"/>
        </form>
    </div>
    <br><br><br><br>
</body>
{% endblock %}