{% extends 'base/base.html' %}

{% load static %}

{% block content %}
        
<div class="container">
    <main>
      <div class="py-5 text-center">
        <i class="far fa-handshake fa-3x" style="color: chartreuse;"></i>
        <h2>Pago Easy Renting</h2>
        <p class="lead">Realise el pago de su arriendo, transporte o servicio extra que contrató. 
          Recuerde que del total de su pago, debes pagar el 50% de manera anticipada y el otro 50% 
          una vez llegues a tu departamento.</p>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h3 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Datos pago <i class="fas fa-file-invoice-dollar"></i></span>
            <span class="badge bg-primary rounded-pill">0</span>
          </h3>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Departamento</h6>
                <small class="text-muted">Breve descripción</small>
              </div>
              <span class="text-muted">$0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Transporte</h6>
                <small class="text-muted">Ida-vuelta</small>
              </div>
              <span class="text-muted">$0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Servicios extra</h6>
                <small class="text-muted">Breve descripción</small>
              </div>
              <span class="text-muted">$0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Código promoción</h6>
                <small>ZPQHDNCYHY</small>
              </div>
              <span class="text-success">−$0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total ($CLP)</span>
              <strong>$0</strong>
            </li>
          </ul>
  
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Código promoción">
              <button type="submit" class="btn btn-secondary">Validar</button>
            </div>
          </form>
        </div>
        <div class="col-md-7 col-lg-8">
          <h3 class="mb-3">Datos Cliente <i class="far fa-address-card"></i></h3>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="{{request.user.first_name}}" required>
                <div class="invalid-feedback">
                  Nombre es requerido.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="{{request.user.last_name}}" required>
                <div class="invalid-feedback">
                  Apellido es requerido.
                </div>
              </div>
  
              <div class="col-12">
                <label for="username" class="form-label">Usuario</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" value="{{request.user.username}}" readonly>
                <div class="invalid-feedback">
                    Nombre Usuario Requerido.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="usuario@gmail.com" value="{{request.user.email}}" required>
                <div class="invalid-feedback">
                  Por favor, ingresa un email válido.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address" class="form-label">Dirección cliente</label>
                <input type="text" class="form-control" id="address" placeholder="Calle, numeración, zona del país." required value="{{request.GET.now}}">
                <div class="invalid-feedback">
                  Por favor, introduzca su dirección.
                </div>
              </div>

              <h3 class="mb-3">Datos arriendo <i class="far fa-newspaper"></i></h3>
  
              <div class="col-12">
                <label for="address2" class="form-label">Dirección destino <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>
  
              <div class="col-md-5">
                <label for="country" class="form-label">Zona</label>
                <select class="form-select" id="country" required>
                  <option value="">Elegir...</option>
                  {% for z in zonas %}
                    <option>{{ z.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Por favor selecciona una zona.
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="state" class="form-label">Departamento</label>
                <select class="form-select" id="state" required>
                  <option value="">Elegir...</option>
                  {% for d in departamentos %}
                    <option>{{ d.nombre }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Por favor, ingresa un departamento.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="zip" class="form-label">Cantidad acompañantes</label>
                <input type="number" class="form-control" id="zip" placeholder="" value="0" required>
                <div class="invalid-feedback">
                  Por favor, ingresa cantidad de acompañantes.
                </div>
              </div>

              <!-- Datepicker -->
              <h3>Fechas <i class="far fa-calendar"></i></h3>
              <div class="col-md-6">
                <div class="form-control-wrapper">
                  <input type="text" id="date-start" class="form-control floating-label" placeholder="Fecha y hora llegada">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-control-wrapper">
                  <input type="text" id="date-end" class="form-control floating-label" placeholder="Fecha y hora retirada">
                </div>
              </div>
            <hr class="my-4">
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info">Guardar esta información para la próxima vez</label>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Continuar con el pago <i class="fas fa-money-check-alt"></i></button>
          </form>
        </div>
      </div>
    </main>
    <br><br><br><br><br><br>

    <!-- Script Datepicker -->
    
		<script type="text/javascript">
		$(document).ready(function()
		{
			$('#date').bootstrapMaterialDatePicker
			({
				time: false,
				clearButton: true
			});

			$('#time').bootstrapMaterialDatePicker
			({
				date: false,
				shortTime: false,
				format: 'HH:mm'
			});

			$('#date-format').bootstrapMaterialDatePicker
			({
				format: 'dddd DD MMMM YYYY - HH:mm'
			});
			$('#date-fr').bootstrapMaterialDatePicker
			({
				format: 'DD/MM/YYYY HH:mm',
				language: 'es',
				weekStart: 1, 
				cancelText : 'ANNULER',
				nowButton : true,
				switchOnClick : true
			});

			$('#date-end').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY HH:mm', lang: 'es',
			});
			$('#date-start').bootstrapMaterialDatePicker
			({
				weekStart: 0, format: 'DD/MM/YYYY HH:mm', shortTime : true, lang: 'es',
			}).on('change', function(e, date)
			{
				$('#date-end').bootstrapMaterialDatePicker('setMinDate', date);
			});

			$('#min-date').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', minDate : new Date() });

			$.material.init()
		});
		</script>
    
    <script src="{% static '/js/form-validation.js' %}"></script>
{% endblock %}