{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<br><br><br>
<div class="row justify-content-center">
    <div class="col-md-7">
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_nombre">Nombre:</label>
                <input class="form-control" type="text" name="nombre" maxlength="50" required="" id="id_nombre">
            </div>
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
            </div>
            <div class="form-group">
                <label for="id_zona">Zona:</label>
                <select class="form-control" name="zona" required="" id="id_zona">
                <option value="" selected="">---------</option>
                {% for z in zonas %}
                <option value="{{ z.id }}">{{ z.nombre }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_mensaje">Mensaje:</label>
                <textarea class="form-control" name="mensaje" cols="40" rows="10" required="" id="id_mensaje"></textarea>
            </div>
            <br>
            <div class="row justify-content-center">
                <button type="reset" class="btn btn-primary button col-lg-5 m-2">Limpiar</button>
                <button type="submit" class="btn btn-primary button col-lg-5 m-2">Enviar</button>
            </div>
        </form>
    </div>
</div>



{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
      title: '{{m}}',
      icon: 'error',
      width: 600,
      padding: '3em',
      background: '#fff url(/images/trees.png)',
      backdrop: `
        rgba(0,0,123,0.4)
        url("https://c.tenor.com/uCoZ_h8QmV8AAAAj/angry-pikachu.gif")
        center top
        no-repeat
      `,
      
    })
    </script>
  {% endfor %}
{% endif %}
{% endblock %}