{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="b-example-divider"></div>
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <br>
        <h1>Departamentos a lo largo de todo Chile</h1>
        <p class="lead text-muted">En <strong>Easy Renting</strong> encontrarás los mejores departamentos
           a lo largo de nuestro país al mejor precio. Ademas, obtendrás los mejores servicios turisticos,
           de transporte y excepcionales banquetes que la empresa proporciona.</p>
        
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto1.gif' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">La ciudad es conocida por sus largas playas, como El Faro, con su punto de referencia en el Faro Monumental y su arquitectura colonial y neocolonial.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">La Serena</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto6.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Ubicado en la ribera suroeste del extenso lago Llanquihue, que ofrece imponentes vistas de los volcanes Calbuco y Osorno, cubiertos de nieve y aún activos.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Puerto Varas</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto3.jpg' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">De la Provincia de Cautín, perteneciente a la Región de Araucanía, situada en la zona sur de Chile.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Pucón</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto4.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">También es conocida como la "Ciudad Jardín" por estar originalmente rodeada de grandes áreas verdes y preservar en la actualidad en su zona urbana hermosos y extensos jardines, con variadas especies florales y arbóreas nativas.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Viña Del Mar</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto5.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Su origen viene desde la colonia porque en la zona de lo que era la quinta de San Francisco, hoy Palacio Rioja, había plantaciones de viñedos, que comenzaron a recibir el nombre de “Viñas de la Mar”.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Viña Del Mar</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto2.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Que en lengua mapuche significa “flor de piedra”, debe su nombre a la leyenda de la joven y hermosa princesa mapuche, Lican Ray, hija del rico y poderoso Cacique Carilef.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Lican Ray</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto7.jpg' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">Capital de la región de Coquimbo en la costa de Chile. La ciudad es conocida por sus largas playas, como El Faro.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">La Serena</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto8.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Una localidad de la comuna de Villarrica, ubicada en la ribera norte del lago Calafquén, en la Región de la Araucanía.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Lican Ray</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto9.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">Ciudad del sur de Chile, a los pies del volcán Villarrica. Se encuentra a orillas del extenso lago Villarrica.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Villarrica</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cambio de página -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="/dptos2">Anterior</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="/dptos2">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/dptos2">Siguiente</a>
          </li>
        </ul>
      </nav>
  
  </main>
{% endblock %}