{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="b-example-divider"></div>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>Departamentos a lo largo de todo Chile</h1>
      <p class="lead text-muted">En <strong>Easy Renting</strong> encontrarás los mejores departamentos
         a lo largo de nuestro país al mejor precio. Ademas, obtendrás los mejores servicios turisticos,
         de transporte y excepcionales banquetes que la empresa proporciona.</p>
      
    </div>
  </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto10.jpg' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Lican Ray</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
             <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto11.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Villarrica</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto12.png' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Valparaíso</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto13.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Coquimbo</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto14.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Viña Del Mar</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto15.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Coñaripe</small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto16.jpg' %}" alt="" width="100%" height="225">
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Puerto Varas</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto17.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Chiloé</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="{% static '/img/dpto18.jpg' %}" alt="" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Arrendar</button>
                  </div>
                  <small class="text-muted">Puerto Montt</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cambio de página -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/dptos">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="/dptos">1</a></li>
        <li class="page-item  active"><a class="page-link" href="/dptos2">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  
  </main>
{% endblock %}