{% extends 'base/base.html' %}

{% load static %}

{% block header %}

{% endblock %}

{% block content %}

{% load humanize %}

<style>
  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
  body,html {
    height:100%;
    margin:0;
    font-family:lato;
  }

h2 {
  margin-bottom:0px;
  margin-top:25px;
  text-align:center;
  font-weight:200;
  font-size:19px;
  font-size:1.2rem;
  
}
.containerPago {
  height:100%;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  background:-webkit-linear-gradient(#c5e5e5, #ccddf9);
  background:linear-gradient(#c9e5e9,#ccddf9);
}
.dropdown-select.visible {
  display:block;
}
.dropdown {
  position:relative;
  background-color: #207dd4;
  border-radius: 20px;
}
ul {
  margin:0;
  padding:0;
}
ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
ul li:hover {
  background:rgba(255,255,255,0.1);
}
.dropdown-select {
  position:absolute;
  background:#77aaee;
  text-align:left;
  box-shadow:0px 3px 5px 0px rgba(0,0,0,0.1);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:90%;
  left:2px;
  line-height:2em;
  margin-top:2px;
  box-sizing:border-box;
}
.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  border-right:10px solid #1e5fd8;
  width:50%;
}
.window {
  height:540px;
  width:800px;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius:30px;
  z-index:10;
}
.order-info {
  height:100%;
  width:50%;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position:relative;
}
.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#4488dd;
}
.order-table td:first-of-type {
  width:25%;
}
.order-table {
    position:relative;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;

}

.full-width {
  width:100%;
}
.pay-btn {
  border:none;
  background:#2dca1e;
  line-height:2em;
  border-radius:10px;
  font-size:19px;
  font-size:1.2rem;
  color:#fff;
  cursor:pointer;
  position:absolute;
  bottom:20px;
  width:calc(100% - 50px);
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}
.pay-btn:hover {
  background:#5eff00;
    color:#eee;
  -webkit-transition:all .2s ease;
          transition:all .2s ease;
}

.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:3px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.credit-info {
  background:#1e5fd8;
  height:100%;
  width:50%;
  color:#eee;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
}
.dropdown-btn {
  background:rgba(255,255,255,0.1);
  width:100%;
  border-radius:5px;
  text-align:center;
  line-height:1.5em;
  cursor:pointer;
  position:relative;
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-btn:after {
  content: '\25BE';
  right:8px;
  position:absolute;
}
.dropdown-btn:hover {
  background:rgba(255,255,255,0.2);
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-select {
  display:none;
}
.credit-card-image {
  display:block;
  max-height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.credit-info-content {
  margin-top:25px;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}

/* Estilo linea de pasos  */
#timeline-wrap{
  margin:50px 40px 80px 40px;
  top:100;
  position:relative;
 
}

#timeline{
  height:1px;
  width: 100%;
  background-color:#aabbc4;
 
}

 .marker{
   z-index:1000;
   color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  margin-left: -25px;
  background-color: #999999;
  border-radius: 50%;
        }

 .marker:hover{
   -moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
   
   -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
 }


.timeline-icon.one {
    background-color: #3386FF  !important;
}

.timeline-icon.two {
    background-color: #3386FF !important;
}

.timeline-icon.three{
    background-color: #33D4FF !important;
}

.mfirst{
     top:-25px;
}

.m2{
     top:-25px;
      left:50%
}

.m3{
  top:-25px;
    left:100%
}
</style>


<div class='containerPago'>
  <div class='window'>
    <div class='order-info'>
      <div class='order-info-content'>
        <div class="container">
  
          <div id="timeline-wrap">
            <div id="timeline"></div>
            
            <!-- This is the individual marker-->
            <div class="marker mfirst timeline-icon one">
              <i class="fas fa-building"></i>
            </div>
            <!-- / marker -->
          
            <!-- This is the individual marker-->
            <div class="marker m2 timeline-icon two">
              <i class="fas fa-user-plus"></i>
            </div>
            
            <!-- This is the individual marker-->
            <div class="marker m3 timeline-icon three">
              <i class="fas fa-hands-usd"></i>
            </div>
           
          </div>
        
        </div>
        <div class="text-center">
          <h5>Orden Compra:</h5>
          <h5>{{ arriendo.nombre_cliente | first}}{{ arriendo.apellido_cliente | first}}0000{{ arriendo.id}}</h5>
        </div>
        <h2>Resumen del arriendo</h2>
                <div class='line'></div>
        <table class='order-table'>
          <tbody>
            <tr>
              <td><img src="/media/{{departamento.imagen}}" width="200"></img>
              </td>
              <td>
                <br> <span class='thin'>Departamento</span>
                <br>{{ arriendo.departamento }}<br> <span class='thin small'> Zona: {{ arriendo.zona }} </span>
              </td>
            </tr>
            <tr>
              <td>
                <div class='price'>${{ arriendo.precio | intcomma }} CLP</div>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class='line'></div>
        <div class='total'>
          <span style='float:left;'>
            <div class='thin dense'>Pasajeros</div>
            <div class='thin dense'>Descuento</div>
            TOTAL
          </span>
          <span style='float:right; text-align:right;'>
            <div class='thin dense'>{{ arriendo.cantidad_personas }} persona(s)</div>
            <div class='thin dense'>$0</div>
            ${{ arriendo.precio_final | intcomma }} CLP
          </span>
        </div>
</div>
</div>

<div class='credit-info'>
  <div class='credit-info-content' >
    <form method="POST">
      {% csrf_token %}
      <table class='half-input-table'>
        <tr><td>Selecciona método pago: </td><td><div class='dropdown' id='card-dropdown'><div class='dropdown-btn' id='current-card'>Visa</div>
          <div class='dropdown-select'>
          <ul>
            <li>Cuenta Rut</li>
            <li>PayPal</li>
            <li>MasterCard</li>
            <li>WebPay</li>
            </ul></div>
          </div>
        </td></tr>
      </table>
      <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
    
      <table class='half-input-table'>
        <input type="hidden" name="usuario" maxlength="20" required="" id="id_usuario" value="{{request.user.username}}">
        <tr>
          <td> Orden de compra
            <input class='input-field' type="text" name="orden_compra" maxlength="20" required="" id="id_orden_compra" value="{{ arriendo.nombre_cliente | first}}{{ arriendo.apellido_cliente | first}}0000{{ arriendo.id}}" readonly>
          </td>
          <td>Tarjeta
            <input class='input-field' type="text" name="tipo_tarjeta" maxlength="20" required="" id="id_tipo_tarjeta" value="Visa" readonly>
          </td>
        </tr>
      </table>
      Número Tarjeta
      <input class='input-field' type="number" name="numero_tarjeta" required="" id="id_numero_tarjeta">
      Titular de la tarjeta
      <input class='input-field' type="text" name="titular_tarjeta" maxlength="100" required="" id="id_titular_tarjeta">              <table class='half-input-table'>
        <tr>
          <td> Expira
            <input class='input-field' type="text" name="expira" maxlength="20" required="" id="id_expira">
          </td>
          <td>CVC
            <input class='input-field' type="text" name="cvc" maxlength="8" required="" id="id_cvc">
          </td>
        </tr>
      </table>
      <button class='pay-btn' type="submit">Verificar Pago</button>
    </form>
  </div>
</div>

{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{m}}',
        showConfirmButton: false,
        timer: 3500,
      })
    </script>
  {% endfor %}
{% endif %}


<script>
  var cardDrop = document.getElementById('card-dropdown');
  var activeDropdown;
  cardDrop.addEventListener('click',function(){
    var node;
    for (var i = 0; i < this.childNodes.length-1; i++)
      node = this.childNodes[i];
      if (node.className === 'dropdown-select') {
        node.classList.add('visible');
        activeDropdown = node; 
      };
  })

  window.onclick = function(e) {
    console.log(e.target.tagName)
    console.log('dropdown');
    console.log(activeDropdown)
    if (e.target.tagName === 'LI' && activeDropdown){
      if (e.target.innerHTML === 'Cuenta Rut') {
        document.getElementById('credit-card-image').src = 'https://coaniquem.cl/wp-content/uploads/2020/10/cuentarut.png';
            activeDropdown.classList.remove('visible');
        activeDropdown = null;
        e.target.innerHTML = document.getElementById('current-card').innerHTML;
        document.getElementById('current-card').innerHTML = 'Cuenta Rut';
        document.getElementById("id_tipo_tarjeta").value = 'Cuenta Rut';
      }
      else if (e.target.innerHTML === 'PayPal') {
          document.getElementById('credit-card-image').src = 'https://www.freeiconspng.com/uploads/paypal-icon-8.png';
            activeDropdown.classList.remove('visible');
        activeDropdown = null;
        e.target.innerHTML = document.getElementById('current-card').innerHTML;
        document.getElementById('current-card').innerHTML = 'PayPal'; 
        document.getElementById("id_tipo_tarjeta").value = 'PayPal';     
      }
      else if (e.target.innerHTML === 'Visa') {
          document.getElementById('credit-card-image').src = 'https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png';
            activeDropdown.classList.remove('visible');
        activeDropdown = null;
        e.target.innerHTML = document.getElementById('current-card').innerHTML;
        document.getElementById('current-card').innerHTML = 'Visa';
        document.getElementById("id_tipo_tarjeta").value = 'Visa';  
      }
      else if (e.target.innerHTML === 'MasterCard') {
          document.getElementById('credit-card-image').src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/MasterCard_early_1990s_logo.png/1200px-MasterCard_early_1990s_logo.png';
            activeDropdown.classList.remove('visible');
        activeDropdown = null;
        e.target.innerHTML = document.getElementById('current-card').innerHTML;
        document.getElementById('current-card').innerHTML = 'MasterCard';
        document.getElementById("id_tipo_tarjeta").value = 'MasterCard';  
      }
      else if (e.target.innerHTML === 'WebPay') {
          document.getElementById('credit-card-image').src = 'https://iconape.com/wp-content/png_logo_vector/webpay-logo.png';
            activeDropdown.classList.remove('visible');
        activeDropdown = null;
        e.target.innerHTML = document.getElementById('current-card').innerHTML;
        document.getElementById('current-card').innerHTML = 'WebPay';
        document.getElementById("id_tipo_tarjeta").value = 'WebPay'; 
      }
    }
    else if (e.target.className !== 'dropdown-btn' && activeDropdown) {
      activeDropdown.classList.remove('visible');
      activeDropdown = null;
    }
  }

</script>

{% endblock %}

{% block footer %}

{% endblock %}