{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<main role="main">

<section class="jumbotron text-center">
  <div class="container">
  <br><br>
  <h1>Transportes en nuestras diferentes zonas del país</h1>
  <p class="lead text-muted">Busca el mejor servicio de transporte acorde a tus necesidades. 
    Si arriendas un departamento, puedes contratar un servicio de transporte que te lleve desde un punto X 
    (dentro de la zona correspondiente al departamento) hasta tu zona de arriendo, y viceversa.</p>
  </div>
</section>

<style>
  #motionPath {
    overflow: visible;
    height: 100%;
    max-width: 100%;
  }

  #motionPath path {
    stroke-width: 2;
    stroke: chartreuse;
  }

  #motionPath .transporte{
    visibility: hidden;
  }
  .transporte {
    pointer-events: none;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 32px;
  }
</style>

<div class="row justify-content-center">
  <div class="col-md-7">
    <svg id="motionPath" viewBox="-20 0 557 190">
      <path id="path" fill="none" d="M8,102 C15,83 58,25 131,24 206,24 233,63 259,91 292,125 328,155 377,155 464,155 497,97 504,74"/> 
    </svg>
     <div class="transporte"><img src="{% static '/img/car.png' %}" alt="" width="250"></div>
  </div>
</div>

{% load humanize %}
<div class="album py-5 bg-light">
  <div class="container"> 
    <!--Buscador-->
    <form action="" method="GET">
        <div class="input-group rounded col-lg-6" style="padding-bottom: 20px;">
        <input type="search" class="form-control rounded" placeholder="Buscar transporte por: Zona del país, departamento al cual corresponda o nombre del conductor." name="buscarTransporte" aria-label="Search"
        aria-describedby="search-addon" value="{{ request.GET.buscarTransporte }}" />
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-search"></i>
        </button>
        </div>
    </form>
    <div class="row">
        <!--Departamentos-->
        {% for t in entity %}
        <div class="col-md-4">
            <div class="card mb-3 shadow-sm ">
                <img class="bd-placeholder-img card-img-top" src="{{ t.imagen.url }}" alt="{{ t.tipoVehiculo }}" width="120" height="220">
                <div class="card-body">
                <h3 style="font-size: 20px;">{{ t.zona }}</h3>
                <p class="card-text">{{ t.descripcion }}</p> 
                <p><i class="fas fa-building" style="color: rgb(226, 204, 0);"></i> Departamento: <strong>{{ t.departamento}}</strong></p>
                <p><i class="fas fa-user-tie" style="color: rgb(73, 73, 201);"></i> Conductor: {{ t.nombreConductor }}</p>
                <p><i class="fas fa-user-clock" style="color: rgb(71, 255, 47);"></i> Disponibilidad: De {{ t.disponibilidad }} ,
                    {{ t.horaInicio }} a {{ t.horaCierre }}</p>
                <p><i class="fas fa-car" style="color: rgb(175, 27, 27);"></i> Vehículo: {{ t.tipoVehiculo }}</p>
                <div class="d-flex justify-content-between align-items-center" style="font-size: 14px;">
                    <i class="fas fa-dollar-sign"> Precio: {{t.precio | intcomma }} CLP</i>
                    <div class="btn-group">
                    <a href="/arrendar"><button type="button" class="btn btn-outline-primary" style="padding: 3px;" >Agregar <i class="fas fa-cart-plus"></i></button></a>
                    </div>
                </div> 
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
  </div>
</div>


<script>
  gsap.registerPlugin(MotionPathPlugin);

  gsap.set(".transporte", {scale: 0.5, autoAlpha: 1});

  gsap.to(".transporte", {
    duration: 5, 
    repeat: -1,
    yoyo: true,
    ease: "power1.inOut",
    immediateRender: true,
    motionPath: {
      path: "#path",
      align: "#path",
      alignOrigin: [0.5, 0.5],
      autoRotate: 90
    }
  });

  MotionPathHelper.create(".transporte");
</script>

<div>
    {% include 'departamento/paginator.html' %}
</div>

{% endblock %}

